body {
background-image: url("./images/background.gif");
background-color: #ffffff;
color: #404040;
font: 11pt;
font-family: Georgia, Garamond;
}
h1 {
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode',  Helvetica,Arial, sans-serif;
    text-decoration: underline;
    text-align: left;
    font: 18pt normal;
    letter-spacing: 0.25em;
}

header h1 {
    text-align: center;
    font: 22pt bold;
}

a {
    color: #A4A400;
}

ul {
    list-style-image: url(./images/pie_bullet.png);
}

#comment blockquote {
    background-color: yellow;
}

#link {
    border: none;
}

footer {
    text-align-last: right;
    font-family: monospace;
}

header, section {
    border-bottom: 5px solid #f0f0f0;
}



/* element.style {
    box-shadow: 13px 22px 24px #bea5aa;
    border-bottom: 5px solid #0000ffa1;   
    margin: 0px 0px 21px 0px;
} */

/* element.style {
    border-radius: 11%;
    box-shadow: 13px 13px 17px -2px #bea5aa;
} */