body {

    font-family: "Arial", "Helvetica", sans-serif;

    font-size: 12pt;

    margin-left: 20px;

    margin-right: 20px;

}


#header {

    text-align: center;

    margin-bottom: 1em;

}


h1 {

    font-size: 200%;

    font-weight: normal;

    font-style: normal;

    font-family: "Impact", fantasy;

}

legend {

    font-family: "Impact", fantasy;

    font-size: 120%;

}



textarea {

    font-family: monospace;

    font-size: 12pt;

}



.page-validator {

    position: fixed;

    top: 2px;

    right: 2px;

    font-size: 18px;

    opacity: 50%;

}